@font-face {
    font-family: 'Melted-Monster';
    src: url('../font/Melted-Monster.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    ---fundo-site: #2b0942;
    ---font-destaque: 'Melted-Monster';
    ---font-normal: 'Montserrat';
}



body, .middle__section, .middle__section2{
    background-color:#49288A !important;
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #49288A;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 2px solid var(---fundo-site);
    /* creates padding around scroll thumb */
}

/* Top Section  */

.top__section {
    width: 100%;
    height: 100vh;
    background-image: url("../img/top-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(---fundo-site);
}

/* Navbar */

.navbar {
    top: 35px !important;
    width: 100%;
}

#logo {
    position: relative;
    width: 40px;
    margin-right: 5px;
    top: -5px;
}

#nav-name {
    font-size: 27px;
    font-weight: bold;
    font-family: var(---font-normal);
}

.nav-link {
    font-size: 20px !important;
    color: #fff !important;
    transition: .5s !important;
    border-radius: 10px;
}

.nav-link:hover {
    background-color: #fff;
    color: #4b2a8c !important;
    font-weight: bold !important;
}

#space {
    position: relative;
    left: 10%;
}

/* Home Section */

.home__section h1 {
    color: #fff;
    font-size: 4rem;
    font-family: var(---font-destaque);
    letter-spacing: 5px;

    position: relative;
    top: 180px;
}

.home__section .sub {
    color: rgba(255, 255, 255, 0.897);
    margin-top: 2%;
    font-size: 18px;
    text-transform: capitalize;

    position: relative;
    top: 180px;
}

.box__white {
    background-color: #fff;
    display: flex;
    width: 50%;
    margin-top: 5%;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0000002d;

    position: relative;
    top: 180px;
}

.group-1 h4,
.group-2 h4,
.group-3 h4 {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 18px !important;
    color: var(---fundo-site);
}

.group-1 p,
.group-2 p,
.group-3 p {
    color: gray;
}

.group-1,
.group-2,
.group-3 {
    margin-top: 10px;

}

.bi-search {
    font-size: 25px !important;
    background-color: var(---fundo-site);
    padding: 15px;
    border-radius: 20px;
    color: #fff;
    margin-left: 10%;
}

/* Middle Section PT 1 EVENT*/


.middle__section {
    height: 100vh;
    width: 100%;
}

.card-body h3 {
    font-size: 18px !important;
    font-weight: bold;
    text-transform: capitalize;
    font-family: var(---font-destaque);
    letter-spacing: 2px;    
}

.card-body p {
    font-size: 15px !important;
    color: gray;
}

.card__section {
    display: grid;
    grid-template-columns: repeat(3, 290px);
    row-gap: 15%;
    margin-top: 20%;
    text-align: center;
    justify-content: space-between;
}

.info1,
.info2 {
    text-align: center;
    color: #fff;
    position: relative;
    top: 150px;
}

.info1 {
    font-size: 3rem !important;
    font-family: var(---font-destaque);
}

.info2 {
    font-weight: normal;
    text-transform: capitalize;
    top: 180px;
    font-size: 1.2rem;
}

.middle__Section_ex:hover {
    transition: .5s;
    transform: scale(1.2) rotate(2deg);
    cursor: pointer;
    background-color: #2b0942;
    color: #fff !important;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.39);
    z-index: 2;
}


/* Middle Section PT 2  MEDIA*/

.middle__section2 {
    width: 100%;
    height: 160vh;

    position: relative;
    margin-top: 50px;
}

.media {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: left;
}

#ghost_big {
    width: 420px;
    border-radius: 10px;
    margin-top: 38%;
    box-shadow: 5px 5px 15px rgba(0,0,0, 0.30);
}

.right_item {
    color: #fff;
    margin-top: 10%;
    margin-left: 5%;
}

.right_item p {
    font-family: var(---font-normal);
    text-transform: capitalize;
    margin-top: 5%;
}

.right_item h1 {
    font-size: 3rem;
    font-family: var(---font-destaque);
    margin-top: 8%;
}

.list__itens {
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 55px;
    color: #ffffffb2;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
}

.list__itens div {
    margin-right: 35px;
    font-size: 1.1rem;
}

.list__itens i {
    color: #fff;
    font-size: 2rem;
}

.join {
    margin-top: 5%;
    width: 20%;
    height: 50px;
    font-size: 1.3rem !important;
    font-weight: 700;
    text-transform: capitalize;
    transition: .5s;
}

.join:hover{
    color: #fff !important;
    background-color: #2b0942 !important;
}

.card__img__cost {
    width: 180px;
    border-radius: 10px;
}

.media2 {
    margin-top: 10%;
    text-align: center;
}

.card-body h1 {
    font-size: 1.5rem;
    font-family: var(---font-destaque);
}

.card-body p {
    font-size: 1rem;
}

.media2_h1 {
    color: #fff;
    font-size: 3rem;
    font-family: var(---font-destaque);
}

.media2_p {
    color: #ffffffaf;
    font-size: 1.2rem;
    font-family: var(---font-normal);
    margin-bottom: 30px;
}

#quadro {
    background-color: transparent !important;
    color: #fff;
    border: none;
    margin-top: 50px;
    transition: .5s;
}



.card__img__cost:hover {
    transition: .7s;
    transform: scale(1.1) rotateY(360deg);
    position: relative !important;
    top: -20px !important;
}